@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  --color-sun-primary: #f39c12;
  --color-sun-secondary: #ffff00;
  --color-sun-third: #f35512;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  /* background-image: linear-gradient(to top, #88deb0b4 0%, #405252d2 60%); */
  background-image: radial-gradient(
    ellipse at center,
    #f5feea 0%,
    #f5feea 35%,
    #b7e8eb 100%
  );
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: absolute;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.9;
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #00ff95;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.9);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #00ff95b4;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
  box-shadow: 0 0rem 5rem rgba(0, 0, 0, 0.25);
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #fff;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 0rem 3.5rem rgba(0, 0, 0, 0.25);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 4rem;
}
.btn--roll {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #00ff95;
}
.hidden {
  display: none;
}
.sun {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: var(--color-sun-third);
  box-shadow: 0px 0px 15px var(--color-sun-third),
    0px 0px 15px var(--color-sun-third);
  z-index: -1;
  animation: anime1 10s linear forwards;
}
@keyframes anime1 {
  0% {
    top: 60%;
    box-shadow: 0px 0px 30px var(--color-sun-third),
      0px 0px 100px var(--color-sun-third);
    background: var(--color-sun-third);
  }
  50% {
    top: 30%;
    box-shadow: 0px 0px 70px var(--color-sun-primary),
      0px 0px 200px var(--color-sun-primary);
    background: var(--color-sun-primary);
  }
  100% {
    top: 5%;
    background: var(--color-sun-secondary);
    box-shadow: 0px 0px 100px var(--color-sun-secondary),
      0px 0px 300px var(--color-sun-secondary);
  }
}
.dark {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgba(13, 19, 24, 1);
  animation: anime2 10s linear forwards;
}
@keyframes anime2 {
  0% {
    background: rgba(13, 19, 24, 1);
  }
  100% {
    background: rgba(13, 19, 24, 0);
  }
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.sky {
  width: 100vw;
  height: 50vh;
}
.waves {
  width: 100vw;
  max-height: 70vh;
}
.path-0 {
  animation: pathAnim-0 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      'M 0,700 C 0,700 0,175 0,175 C 57.035383029886646,153.57093782205428 114.07076605977329,132.14187564410855 192,124 C 269.9292339402267,115.85812435589143 368.7523187907934,121.00343524562005 445,114 C 521.2476812092066,106.99656475437995 574.9199587770527,87.8443833734112 632,109 C 689.0800412229473,130.1556166265888 749.5678461009962,191.61903126073517 820,192 C 890.4321538990038,192.38096873926483 970.8086568189624,131.67949158364823 1036,126 C 1101.1913431810376,120.32050841635177 1151.1975266231536,169.66300240467191 1216,187 C 1280.8024733768464,204.33699759532809 1360.401236688423,189.66849879766403 1440,175 C 1440,175 1440,700 1440,700 Z'
    );
  }
  25% {
    d: path(
      'M 0,700 C 0,700 0,175 0,175 C 80.9378220542769,158.66334592923394 161.8756441085538,142.32669185846788 230,159 C 298.1243558914462,175.67330814153212 353.43524562006183,225.3565784953624 421,223 C 488.56475437993817,220.6434215046376 568.3833734111989,166.24699416008244 640,143 C 711.6166265888011,119.75300583991756 775.0312607351426,127.65544486430781 837,139 C 898.9687392648574,150.3445551356922 959.491583648231,165.13122638268635 1035,157 C 1110.508416351769,148.86877361731365 1201.002404671934,117.81964960494675 1271,117 C 1340.997595328066,116.18035039505325 1390.498797664033,145.59017519752663 1440,175 C 1440,175 1440,700 1440,700 Z'
    );
  }
  50% {
    d: path(
      'M 0,700 C 0,700 0,175 0,175 C 86.72621092408107,185.6822397801443 173.45242184816215,196.36447956028857 229,190 C 284.54757815183785,183.63552043971143 308.9165235314325,160.22432153899004 377,159 C 445.0834764685675,157.77567846100996 556.8814840261078,178.7382342837513 639,197 C 721.1185159738922,215.2617657162487 773.557540364136,230.82274132600483 824,227 C 874.442459635864,223.17725867399517 922.888354517348,199.97080041222947 990,183 C 1057.111645482652,166.02919958777053 1142.889041566472,155.2940570250773 1221,155 C 1299.110958433528,154.7059429749227 1369.555479216764,164.85297148746133 1440,175 C 1440,175 1440,700 1440,700 Z'
    );
  }
  75% {
    d: path(
      'M 0,700 C 0,700 0,175 0,175 C 73.79251116454824,202.7519752662315 147.5850223290965,230.50395053246305 215,219 C 282.4149776709035,207.49604946753695 343.4524218481622,156.73617313637928 405,156 C 466.5475781518378,155.26382686362072 528.6052902782549,204.55135692201986 592,226 C 655.3947097217451,247.44864307798014 720.1264170388184,241.05839917554107 794,213 C 867.8735829611816,184.94160082445893 950.8890415664719,135.2150463758159 1033,140 C 1115.1109584335281,144.7849536241841 1196.3174166952938,204.0814153211955 1264,219 C 1331.6825833047062,233.9185846788045 1385.841291652353,204.45929233940225 1440,175 C 1440,175 1440,700 1440,700 Z'
    );
  }
  100% {
    d: path(
      'M 0,700 C 0,700 0,175 0,175 C 57.035383029886646,153.57093782205428 114.07076605977329,132.14187564410855 192,124 C 269.9292339402267,115.85812435589143 368.7523187907934,121.00343524562005 445,114 C 521.2476812092066,106.99656475437995 574.9199587770527,87.8443833734112 632,109 C 689.0800412229473,130.1556166265888 749.5678461009962,191.61903126073517 820,192 C 890.4321538990038,192.38096873926483 970.8086568189624,131.67949158364823 1036,126 C 1101.1913431810376,120.32050841635177 1151.1975266231536,169.66300240467191 1216,187 C 1280.8024733768464,204.33699759532809 1360.401236688423,189.66849879766403 1440,175 C 1440,175 1440,700 1440,700 Z'
    );
  }
}
.path-1 {
  animation: pathAnim-1 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      'M 0,700 C 0,700 0,350 0,350 C 57.455857093782214,372.84094812779114 114.91171418756443,395.6818962555823 191,386 C 267.0882858124356,376.3181037444177 361.80900034352453,334.113363105462 428,318 C 494.19099965647547,301.886636894538 531.8522844383374,311.8646513225696 595,335 C 658.1477155616626,358.1353486774304 746.781861903126,394.4280316042597 813,407 C 879.218138096874,419.5719683957403 923.0202679491583,408.42322226039164 999,390 C 1074.9797320508417,371.57677773960836 1183.1370663002403,345.8790793541738 1262,338 C 1340.8629336997597,330.1209206458262 1390.4314668498798,340.06046032291306 1440,350 C 1440,350 1440,700 1440,700 Z'
    );
  }
  25% {
    d: path(
      'M 0,700 C 0,700 0,350 0,350 C 84.46925455170043,323.665407076606 168.93850910340086,297.330814153212 238,321 C 307.06149089659914,344.669185846788 360.71521813809693,418.3421504637581 426,412 C 491.28478186190307,405.6578495362419 568.2006183442115,319.30058399175545 643,304 C 717.7993816557885,288.69941600824455 790.4823084850567,344.4555135692202 858,365 C 925.5176915149433,385.5444864307798 987.8701477155616,370.8773617313638 1050,347 C 1112.1298522844384,323.1226382686362 1174.0371006526966,290.0350395053246 1239,289 C 1303.9628993473034,287.9649604946754 1371.9814496736517,318.98248024733766 1440,350 C 1440,350 1440,700 1440,700 Z'
    );
  }
  50% {
    d: path(
      'M 0,700 C 0,700 0,350 0,350 C 61.1549295774648,381.25867399519063 122.3098591549296,412.5173479903813 184,396 C 245.6901408450704,379.4826520096187 307.91549295774644,315.1892820336654 376,318 C 444.08450704225356,320.8107179663346 518.0281690140846,390.7255238749571 590,380 C 661.9718309859154,369.2744761250429 731.9718309859154,277.90862246650636 804,286 C 876.0281690140846,294.09137753349364 950.0845070422536,401.6399862590175 1020,409 C 1089.9154929577464,416.3600137409825 1155.6901408450706,323.53143249742357 1225,297 C 1294.3098591549294,270.46856750257643 1367.1549295774648,310.2342837512882 1440,350 C 1440,350 1440,700 1440,700 Z'
    );
  }
  75% {
    d: path(
      'M 0,700 C 0,700 0,350 0,350 C 62.11336310546204,337.6180006870491 124.22672621092408,325.23600137409824 194,333 C 263.7732737890759,340.76399862590176 341.20645826176576,368.6739951906561 415,373 C 488.79354173823424,377.3260048093439 558.947440742013,358.06801786327725 630,350 C 701.052559257987,341.93198213672275 773.0037787701821,345.053933356235 837,346 C 900.9962212298179,346.946066643765 957.0374441772587,345.71624871178284 1021,339 C 1084.9625558227413,332.28375128821716 1156.8464445207833,320.08107179663347 1228,321 C 1299.1535554792167,321.91892820336653 1369.5767777396084,335.95946410168324 1440,350 C 1440,350 1440,700 1440,700 Z'
    );
  }
  100% {
    d: path(
      'M 0,700 C 0,700 0,350 0,350 C 57.455857093782214,372.84094812779114 114.91171418756443,395.6818962555823 191,386 C 267.0882858124356,376.3181037444177 361.80900034352453,334.113363105462 428,318 C 494.19099965647547,301.886636894538 531.8522844383374,311.8646513225696 595,335 C 658.1477155616626,358.1353486774304 746.781861903126,394.4280316042597 813,407 C 879.218138096874,419.5719683957403 923.0202679491583,408.42322226039164 999,390 C 1074.9797320508417,371.57677773960836 1183.1370663002403,345.8790793541738 1262,338 C 1340.8629336997597,330.1209206458262 1390.4314668498798,340.06046032291306 1440,350 C 1440,350 1440,700 1440,700 Z'
    );
  }
}
.path-2 {
  animation: pathAnim-2 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin: 0;
  padding: 0;
}
@keyframes pathAnim-2 {
  0% {
    d: path(
      'M 0,700 C 0,700 0,525 0,525 C 61.42356578495361,529.5310889728617 122.84713156990722,534.0621779457232 193,538 C 263.1528684300928,541.9378220542768 342.0350395053246,545.282377189969 408,546 C 473.9649604946754,546.717622810031 527.0127104087943,544.8083132944006 602,544 C 676.9872895912057,543.1916867055994 773.9141188594984,543.4843696324289 841,558 C 908.0858811405016,572.5156303675711 945.330814153212,601.2542081758845 1011,586 C 1076.669185846788,570.7457918241155 1170.7626245276538,511.49879766403296 1247,494 C 1323.2373754723462,476.50120233596704 1381.6186877361731,500.7506011679835 1440,525 C 1440,525 1440,700 1440,700 Z'
    );
  }
  25% {
    d: path(
      'M 0,700 C 0,700 0,525 0,525 C 68.36825833047061,517.002061147372 136.73651666094122,509.0041222947441 202,526 C 267.2634833390588,542.9958777052559 329.4221916867056,584.9855719683958 405,572 C 480.5778083132944,559.0144280316042 569.5747165922362,491.0535898316729 632,491 C 694.4252834077638,490.9464101683271 730.2789419443491,558.8000687049124 798,571 C 865.7210580556509,583.1999312950876 965.3095156303675,539.7461353486774 1038,536 C 1110.6904843696325,532.2538646513226 1156.4829955341809,568.2153899003779 1219,573 C 1281.5170044658191,577.7846100996221 1360.7585022329094,551.3923050498111 1440,525 C 1440,525 1440,700 1440,700 Z'
    );
  }
  50% {
    d: path(
      'M 0,700 C 0,700 0,525 0,525 C 65.23325317760221,541.9941600824459 130.46650635520442,558.9883201648918 193,555 C 255.53349364479558,551.0116798351082 315.3672277567846,526.0408794228787 378,502 C 440.6327722432154,477.9591205771213 506.06458261765727,454.8481621435934 588,461 C 669.9354173823427,467.1518378564066 768.3744417725867,502.5664720027481 836,513 C 903.6255582274133,523.4335279972519 940.4376502919961,508.8859498454141 995,500 C 1049.562349708004,491.1140501545859 1121.8749570594296,487.88972861559597 1199,493 C 1276.1250429405704,498.11027138440403 1358.0625214702852,511.55513569220204 1440,525 C 1440,525 1440,700 1440,700 Z'
    );
  }
  75% {
    d: path(
      'M 0,700 C 0,700 0,525 0,525 C 56.13466162830642,501.6575060116798 112.26932325661284,478.3150120233596 173,464 C 233.73067674338716,449.6849879766404 299.05736860185505,444.39745791824123 375,462 C 450.94263139814495,479.60254208175877 537.5012023359669,520.0951563036757 614,531 C 690.4987976640331,541.9048436963243 756.9378220542769,523.221916867056 823,499 C 889.0621779457231,474.77808313294395 954.7475094469255,445.01717622810025 1023,469 C 1091.2524905530745,492.98282377189975 1162.0721401580213,570.7093782205428 1232,589 C 1301.9278598419787,607.2906217794572 1370.9639299209894,566.1453108897285 1440,525 C 1440,525 1440,700 1440,700 Z'
    );
  }
  100% {
    d: path(
      'M 0,700 C 0,700 0,525 0,525 C 61.42356578495361,529.5310889728617 122.84713156990722,534.0621779457232 193,538 C 263.1528684300928,541.9378220542768 342.0350395053246,545.282377189969 408,546 C 473.9649604946754,546.717622810031 527.0127104087943,544.8083132944006 602,544 C 676.9872895912057,543.1916867055994 773.9141188594984,543.4843696324289 841,558 C 908.0858811405016,572.5156303675711 945.330814153212,601.2542081758845 1011,586 C 1076.669185846788,570.7457918241155 1170.7626245276538,511.49879766403296 1247,494 C 1323.2373754723462,476.50120233596704 1381.6186877361731,500.7506011679835 1440,525 C 1440,525 1440,700 1440,700 Z'
    );
  }
}
